*{
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    padding: 0px;
    margin: 0px;
    color: #fff;
    text-align: center;
}

/* header */
header h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0.5rem 0rem;
    opacity: 1;
}

.header_image{
    width: 100%;
}

/* main */

/* description */
.description {
    display: flex;
}

.description_text{
    font-size: 1rem;
    margin: 76px 106px 75px 150px;
    font-weight: 300;
    opacity: 1;
}

.description_text_1{
    margin-bottom: 16px;
    text-align: start;
}

.description img{
    height: 237px;
    margin: 45px 150px 66px 0px;
}

/* features */
.features{
    padding: 73px 0px;
    background-color: #1E1A13;
    justify-content: space-around;
}

article h1{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 50px;
    background-color: #1E1A13;
}

.features_icons {
    background-color: #1E1A13;
    display: flex;
    justify-content: space-around;
    padding: 0px 200px;
}

.features_icons_1{
    background-color: #1E1A13;
}

.features_icons_1 i{
    background-color: #1E1A13;
}

.features_text{
    font-size: 24px;
    font-weight: 300;
    background-color: #1E1A13;
    padding-top: 16px;
}

/* images */
.images {
    margin: 73px 0px;
    display: flex;
    justify-content: space-around;
}

.images img {
    width: 316px;
    height: 202px;
    padding: 0px 8px;
}

/* footer */
footer{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
}

footer a{
    text-decoration: none;
}

footer a:hover {
    color: #696968;
}